/* Ocultar todos por defecto */
.ParaPc,
.ParaTablet,
.ParaMovil {
    display: none;
}

/* Pantallas grandes (PC) */
@media (min-width: 1025px) {

    .ParaPc {
        display: block;
    }

    body {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 12, 36, 0.233)),
            url('../assets/9c9100b43b20138280ff15dd7e40d5da.gif');
        background-size: cover;
        background-position: center;
        height: 100vh;
        backdrop-filter: blur(2px);
    }

    @font-face {
        font-family: 'Stella Lumina';
        src: url('../assets/STELLALUMINA-W4BP.TTF') format('truetype');
    }


    .GameTitle {
        font-family: 'Stella Lumina', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45vh;
        color: #052f57c5;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .pc-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0vh;
    }

    .items-menu {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        width: 100%;
    }

    #content-Base1 {
        margin-inline: auto;
        margin-bottom: 20px;
        max-width: 90%;
    }


    #content-Base2 {
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .inicio-text,
    .ranking-text,
    .creditos-text {
        color: rgba(0, 0, 0, 0.596);
        text-decoration: none;
        user-select: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }



    .inicio-text:hover,
    .ranking-text:hover,
    .creditos-text:hover {
        color: rgba(255, 255, 255, 0.774);
    }


    #textInicio:hover,
    #textRanking:hover,
    #textCredit:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
        border-radius: 15px;
    }

    .banderaImg {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }

    .banderaImg img {
        width: 100%;
        height: auto;
    }

    #input-login {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        border-color: rgba(0, 0, 0, 0);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    #btnMenu {
        align-items: center;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.61);
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    #btnMenu:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        background-color: rgba(22, 57, 63, 0.486);
        color: rgb(255, 255, 255);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    #btnMenu:active {
        background-color: rgba(0, 58, 68, 0.397);
        color: rgb(255, 255, 255);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    #textosElement {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }



}

/* Pantallas medianas (Tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .ParaTablet {
        display: block;
        background-color: #16213e;

        /* Menú Tablets*/
        #menuPrincipal {
            justify-content: center;
            align-items: center;
        }

        #selectionMenu {
            text-align: center;
        }

        #gameTitle {
            font-weight: bold;
            display: 3;
        }

        #optionMenu {
            max-width: 500px;
        }

        #selectText {
            color: white;
        }
    }
}

/* Pantallas pequeñas (Móviles) */
@media (max-width: 768px) {
    .ParaMovil {
        display: block;
    }
}