/* Ocultar todos por defecto */
.ParaPc, .ParaTablet, .ParaMovil {
    display: none;
}

/* Pantallas grandes (PC) */
@media (min-width: 1025px) { 
    .ParaPc {
        display: block;
    }
}

/* Pantallas medianas (Tablets) */
@media (min-width: 769px) and (max-width: 1024px) { 
    .ParaTablet {
        display: block;
        background-color: #16213e;
        /* Menú Tablets*/       
        #menuPrincipal {
            justify-content: center;
            align-items: center;
        }
        
        #selectionMenu {
            text-align: center;
        }
        
        #gameTitle {
            font-weight: bold;
            display: 3;
        }
        
        #optionMenu {
            max-width: 500px;
        }
        
        #selectText {
            color: white;
        }
    }
}

/* Pantallas pequeñas (Móviles) */
@media (max-width: 768px) { 
    .ParaMovil {
        display: block;
    }
}
