.ParaPc {
    display: block;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 12, 36, 0.233)),
        url('../assets/9c9100b43b20138280ff15dd7e40d5da.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    backdrop-filter: blur(2px);
}

@font-face {
    font-family: 'Stella Lumina';
    src: url('../assets/STELLALUMINA-W4BP.TTF') format('truetype');
}

/** Section inicio Pc-Menu  **/
.GameTitle {
    font-family: 'Stella Lumina', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #052f57c5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.pc-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
}

.items-menu {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

#content-Base1 {
    margin-inline: auto;
    margin-bottom: 20px;
    max-width: 100%;
}


#content-Base2 {
    border-radius: 5px;
    margin-bottom: 20px;
}

.inicio-text,
.ranking-text,
.creditos-text {
    color: rgba(0, 0, 0, 0.596);
    text-decoration: none;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inicio-text:hover,
.ranking-text:hover,
.creditos-text:hover {
    color: rgba(255, 255, 255, 0.774);
}

#textInicio:hover,
#textRanking:hover,
#textCredit:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.banderaImg {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.banderaImg img {
    width: 100%;
    height: auto;
}

#containerInputLogin {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
}

#containerInputLogin .label-login {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
}

#input-login {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.label-login {
    color: rgba(0, 0, 0, 0.596);
    font-family: "Stella Lumina";
}

#input-login:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2),
        inset 3px 3px 10px rgba(0, 0, 0, 0.1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.1);
}

#containerInputLogin #input-login:valid~.label-login,
#containerInputLogin #input-login:focus~.label-login {
    transition: 0.3s;
    padding-left: 2px;
    transform: translate(15px, -27px);
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.596);
    font-weight: bold;
    font-family: 'Stella Lumina';
}

#containerInputLogin #input-login:valid,
#containerInputLogin #input-login:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2),
        inset 3px 3px 10px rgba(0, 0, 0, 0.1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.1);
}

#btnMenu {
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.61);
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

#btnMenu:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(22, 57, 63, 0.486);
    color: rgb(255, 255, 255);
    transform: translateY(-5px);
}

#btnMenu:active {
    background-color: rgba(0, 58, 68, 0.397);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#textosElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

/** Section entorno de juego Pc**/
#EntornoJuego-Pc {
    display: none;
    justify-content: center;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    padding-top: 20px;
    border-color: black 5px;
    overflow: hidden;
}

#EntornoPc {
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.ImgsDEscription-pc {
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 30px;
}

.TituloEntorno-Pc {
    text-align: center;
    font-family: 'Stella Lumina', sans-serif;
    user-select: none;
    cursor: auto;
    color: aliceblue;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.barcosImgs-pc,
.MapasImgs-pc {
    padding: 10px;
}

.barcosImgs-pc:hover .carta:not(:hover),
.MapasImgs-pc:hover .carta:not(:hover) {
    filter: blur(5px);
    opacity: 0.5;
    /* Opcional: hace que se vean más apagadas */
}

/* Ajusta las cartas dentro de col-3 para que no se salgan */
.carta {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

/* Asegurar que las imágenes no sobrepasen las cartas */
.carta img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Fondo semi-transparente */
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.carta:hover .info {
    opacity: 1;
    user-select: none;
    cursor: pointer;
    /* Muestra la info cuando pasas el mouse */
}

.carta:hover img {
    width: 100%;
    height: 100%;
}

/* Efecto hover */
.carta:hover {
    transform: scale(1.05);
    z-index: 5;
    background-color: #16213e45;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.inputTablero-pc {
    display: block;
}

#inputTableroPc {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

#btnCrearPc {
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.61);
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.contenedortablero-pc {
    display: flex;
    justify-content: center;
    align-items: center;
}

#TablaUsuario td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;

}

#TablaUsuario {
    background: url(../assets/2488ff9d-da3e-4099-830e-cd18711b340a.gif);
    background-position: center;
    background-size: cover;
    border: 2px solid;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by vnuny */
.item-hints {
    --purple: #720c8f;
    cursor: pointer;
    justify-content: flex-start;
    padding-right: 170px;
    max-width: 300px;
    max-height: 100px;
}

.item-hints .hint {
    margin: 150px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-hints .hint-dot {
    z-index: 3;
    border: 1px solid #ffe4e4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-0%, -0%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.item-hints .hint-radius {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.item-hints .hint[data-position="1"] .hint-content {
    top: 85px;
    left: 50%;
    margin-left: 56px;
}

.item-hints .hint-content {
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 0;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
}

.item-hints .hint:hover .hint-content {
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 1;
    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: #fff;
    visibility: visible;
    pointer-events: none;
}

.item-hints .hint-content::before {
    width: 0px;
    bottom: 29px;
    left: 0;
    content: "";
    background-color: #fff;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
}

.item-hints .hint:hover .hint-content::before {
    width: 180px;
    transition: width 0.4s;
}

.item-hints .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    bottom: 29px;
    left: 0;
    width: 80px;
    content: "";
    background-color: #fff;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.item-hints .hint:hover .hint-content::after {
    opacity: 1;
    visibility: visible;
}

.item-hints .hint[data-position="4"] .hint-content {
    bottom: 85px;
    left: 50%;
    margin-left: 56px;
}

.coordenada {
    border: 2px;
    font-weight: bold;
}

.celda {
    border: 2px solid;
}

.celda:hover {
    background-color: lightgray;
}

.marcado {
    background-color: red;
}

#contenedortablero-pc {
    justify-items: center;
}

#btnBatalla {
    margin-top: 10px;
}

/*INFORMACION IMPORTANTE: relacionado con flagsResponse.js(no modificar- ajustar a sus pantallas)*/


#countryList {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
}

#countryList li {
    flex: 1 1 50%;
    list-style: none;
}

.dropdown-menu {
    background: rgba(0, 132, 255, 0.747) !important;
    backdrop-filter: blur(50px);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.795);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
    background: transparent;
}


.selected-country {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    max-width: 200px;
}

.flag-img-large {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

/*Seccion ranking*/

#ranking-pc {
    display: none;
    justify-content: center;
    align-items: center;
}

#rankingTable-pc {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 0vh;
}

#rankingTable-pc table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

#rankingTable-pc th,
#rankingTable-pc td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#rankingTable-pc th {
    background: rgba(255, 255, 255, 0.3);
}

img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

/*relacionado con seccion creditos*/
#Creditos {
    display: none;
    padding: 20px;
    backdrop-filter: blur(15px);
}

#Creditos p {
    color: black;
}

.CreditsTitles {
    font-weight: bold;
    font-family: 'Stella Lumina', sans-serif;
    color: darkslategray;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-items: center;
    margin-bottom: 15px;
}

#containerCreditsGeneral {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

#container1Credits {
    text-align: center;
}

#container2Credits {
    text-align: center;
    margin: 60px;
}

#container2-1Credits {
    justify-items: center;
    padding: 20px;
}

#container2-2Credits {
    justify-items: center;
}

#container3Credits {
    text-align: center;
}

#container4Credits {
    text-align: center;
    margin-top: 50px;
}

.btnVolver {
    padding: 12px 20px;
    justify-content: center;
    border-radius: 15px;
    color: white;
    background-color: rgba(11, 66, 117, 0.61);
    margin-bottom: 15px;
    max-width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-color: #052f57c5;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btnVolver:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    color: darkseagreen;
    border-color: rgb(95, 158, 160);
    background-color: rgba(22, 57, 63, 0.486);
    transform: translateY(-5px);
}

/*relacionado con juego en pantalla*/
#juego-pc {
    display: none;
}